/* Reset de estilos para eliminar los márgenes y el padding predeterminados */
body, ul {
    margin: 0;
    padding: 0;
}

/* Estilo del navbar */
nav {
    background-color: #333; /* Color de fondo del navbar */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Estilo de la lista no ordenada (ul) */
ul {
    list-style: none; /* Elimina los marcadores de lista */
    display: flex; /* Muestra los elementos de la lista en línea (horizontalmente) */
    justify-content: space-around; /* Distribuye los elementos de manera uniforme en el navbar */
    padding: 10px 0; /* Espaciado interior vertical y horizontal */
    
}

/* Estilo de los elementos de la lista (li) */
li {
    /* Espaciado interior vertical y horizontal */
    padding: 10px 20px;
}

/* Estilo de los enlaces (a) */
a {
    text-decoration: none; /* Elimina la decoración de subrayado de los enlaces */
    color: white; /* Color del texto de los enlaces */
}

/* Cambiar el color del enlace al pasar el mouse sobre él */
a:hover {
    color: #00bcd4; /* Color del texto del enlace en el hover */
}

img{
    max-width: 100px;
}